@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

main {
  /* @apply bg-gradient-to-b from-slate-50 to-yellow-50; */
}
.text-gradient {
  background: linear-gradient(to bottom, gray, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1 {
  @apply text-6xl font-bold text-center text-gradient drop-shadow-xl;
}
h3 {
  @apply text-2xl font-bold text-center text-gradient;
}

.bb {
  @apply border-2 border-gray-400;
}

.ffcji {
  @apply flex flex-col justify-center items-center;
}

input {
  @apply bb rounded-md h-10 px-2 outline-none;
}

.button {
  @apply px-4 py-2 bg-gradient-to-r from-yellow-300 to-yellow-500 text-yellow-800 font-semibold outline-yellow-600 rounded-md hover:bg-yellow-400 active:scale-95;
}

.td {
  @apply px-4 py-2 text-center relative;
}

table {
  @apply bg-white rounded-2xl border-none mb-8;
}

thead > tr {
  @apply bg-gradient-to-t from-gray-100 to-gray-300;
}

.thead {
  @apply hidden lg:table-header-group;
}

tbody > tr:last-child {
  @apply border-none;
}

.tr {
  @apply grid border-b  py-4 lg:table-row;
}

.inp {
  @apply w-full text-center text-wrap lg:focus:absolute lg:focus:z-10  lg:focus:w-fit lg:focus:left-0 lg:focus:top-16 lg:focus:drop-shadow-xl lg:focus:transition-all lg:before:transition-all;
}

@media screen and (max-width: 1024px) {
  td::before {
    content: attr(data-td);
    @apply text-gray-600 block;
  }
}
.custom-origin {
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-spinner {
  transform-origin: center;
  animation: rotate 750ms linear infinite;
}

.scale-200 {
  scale: 200%;
}

@keyframes slide {
  from {
    @apply text-yellow-300;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
    color: white;
  }
}

.animate-slide {
  transition: all;
  animation: slide 1.25s ease-in-out infinite;
}

.updateDeptBtn,
.updateEmpBtn {
  @apply bg-gradient-to-r from-green-400 to-green-600 text-green-100;
}

.confirmInsertBtn,
.confirmUpdateBtn {
  @apply bg-gradient-to-r from-blue-400 to-blue-600 text-green-100;
}

.deleteDeptBtn,
.deleteEmpBtn,
.cancelInsertBtn,
.cancelUpdateBtn {
  @apply bg-gradient-to-r from-red-400 to-red-600 text-red-100;
}
