<main class="h-screen ffcji px-20 gap-5">
  <h1 class="">EMPLOYEE MANAGEMENT SYSTEM</h1>
  <table class="lg:min-w-full bg-white border">
    <thead class="thead">
      <tr class="bg-gray-200">
        <th class="px-4 py-2 border">Dept ID</th>
        <th class="px-4 py-2 border">Department Name</th>
        <th class="px-4 py-2 border"></th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
  <div>
    <button class="button">Go Back</button>
    <button class="button">Insert</button>
  </div>
</main>
