<tr class="tr">
  <td class="td">1</td>
  <td class="td">Human Resources</td>
  <td class="td">
    <button
      class="bg-green-400 text-white px-3 py-1 rounded hover:bg-green-600"
    >
      Update
    </button>
    <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
      Delete
    </button>
  </td>
</tr>

<tr class="tr">
  <td class="td">
    <input type="text" value="${}" />
  </td>
  <td class="td">
    <input type="text" value="${}" />
  </td>
  <td class="td">
    <button
      class="bg-green-400 text-white px-3 py-1 rounded hover:bg-green-600"
    >
      Edit
    </button>
    <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
      Cancel
    </button>
  </td>
</tr>
